<div class="hidden lg:flex lg:flex-col content-center lg:pt-44 pt-24 h-screen animate__animated animate__faster"
    (swipeleft)="hide()" id="instructions-root">
    <div class="text-3xl text-center bg-amber-300 mt-1 rounded-t px-32 py-2">Instructions</div>
    <div
        class="flex flex-col place-content-between lg:h-3/4 bg-white bg-opacity-70 hover:bg-opacity-100 rounded-b lg:pt-2">

        <div class="px-2 flex flex-col overflow-y-scroll pb-2" id="messages-box">
            <div id="instructions-hide-button"
                class="hidden invisible lg:visible lg:block lg:fixed lg:mt-32 lg:ms-[22rem] lg:opacity-40 z-10 lg:h-10 lg:w-10 bg-amber-100 bg-opacity-40 rounded-full text-center text-xl"
                (click)="hide()"> <i class="relative top-1 bi bi-arrow-bar-right"></i> </div>

            <ol class="list-decimal mx-3">
                <li>Share the game address with your friend</li>
                <li>Set your ships</li>
                <li>BOMB where you think your opponent put their ships!</li>
                <li>If you bombed all your opponent's ships first, you win!</li>
            </ol>
            <div class="max-w-min max-h-min self-center mt-2">
            <qrcode [qrdata]="publicKey" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
        </div>
        </div>
    </div>

</div>