<body class="bg-fit bg-no-repeat">
    <div class="container mx-auto">
        <app-bg-audio-button></app-bg-audio-button>
        <div class="lg:grid lg:grid-cols-3 lg:gap-4 place-items-center">
            <app-join-instructions #instructions></app-join-instructions>
            <div class="flex flex-col content-center pt-16 space-y-12 h-screen" (swipeleft)="showChat()" (swiperight)="showInstructions()" id="join-game">
                <div>
                    <app-toolbar (showChat)="showChat()" (showInstructions)="showInstructions()"></app-toolbar>
                    <app-welcome></app-welcome>
                </div>

                <div *ngIf="!commited || this.game.opponentHash.length == 0" class="z-10 bg-amber-300 rounded px-2 py-3">
                    <div *ngIf="this.errorMessage != ''" class="text-md md:text-xl text-center py-2 bg-red-500 rounded">
                        {{errorMessage}}
                    </div>
                    <div class="grid grid-cols-1 content-center">
                        <h2 class="text-xl text-center py-2">
                            {{stateShow}}
                        </h2>
                        <div class="flex space-x-2" *ngIf="stateShow=='Enter your Pear\'s Address'">
                            <input class="w-full rounded" type="text" [formControl]="gameAddress" />
                            <button class="bg-red-400 rounded py-2 px-3 text-xl" type="button"
                                (click)="joinGame()">Join</button>
                        </div>
                    </div>
                    <div *ngIf="stateShow == 'Please set your ships'" class="flex text-sm bg-blue-200 rounded p-3">
                        <table class="border-2 w-full" *ngIf="availableShips.size>0">
                            <tr *ngFor="let ship of availableShips; index as i;" class="border-2 text-4xl"
                                id="ship-{{i}}">
                                <td>{{this.game.symbols[ship.id]}}</td>
                                <td>{{emojiTable[ship["n"]]}}✖️{{emojiTable[ship["m"]]}}🔲</td>
                                <td><button (click)='selectShip(ship["id"])'
                                        class="bg-lime-400 rounded py-2 px-3 text-2xl" type="button">Place</button>
                                </td>
                            </tr>
                        </table>
                        <div *ngIf="availableShips.size==0" class="flex flex-row justify-center space-x-16 w-full">
                            <button class="bg-red-400 rounded py-2 px-3 text-2xl" (click)="clearMap()">Clear</button>
                            <button class="bg-lime-400 rounded py-2 px-3 text-2xl" (click)="commitMap()">Commit</button>
                        </div>
                    </div>

                </div>
                <div *ngIf="commited && this.game.opponentHash.length >0" class="z-10 text-center bg-blue-800 rounded p-2">
                    <div *ngIf="this.game.result" class="text-md md:text-xl text-center py-2 bg-amber-300 rounded mb-2">
                        🛡 You Won! 🛡
                    </div>
                    <div *ngIf="this.game.turn > 1 && !this.game.result"
                        class="text-md md:text-xl text-center py-2 bg-violet-500 rounded">
                        😔 You Lost! 😔
                    </div>
                    <h3 *ngIf="!this.game.result && this.game.turn<=1" class="text-md md:text-xl text-center mb-2">Enemy
                        Map</h3>
                    <table class="border-2 w-full cursor-crosshair">
                        <tr *ngFor="let row of this.game.stateArray; index as i;"
                            class="border-2 border-black rounded-lg">
                            <td *ngFor="let cell of row; index as j;" id="opponent-cell-{{i}}-{{j}}"
                                class="w-min text-center border-2 border-black" (click)="bomb(i,j)">
                                <div *ngIf="this.game.isVisited(i,j); then visited else unvisited"></div>
                                <ng-template #visited>
                                    <span *ngIf="this.game.isHit(i,j)">💥</span>
                                    <span *ngIf="this.game.isMiss(i,j)">✖️</span>
                                </ng-template>
                                <ng-template #unvisited>🌊</ng-template>
                            </td>
                        </tr>
                    </table>
                </div>


                <div class="text-center bg-blue-800 rounded p-2 z-10">
                    <h3 class="text-xl mb-2">Your Map</h3>
                    <table class="border-2 w-full">
                        <tr *ngFor="let row of this.game.stateArray; index as i;"
                            class="border-2 border-black rounded-lg">
                            <td *ngFor="let cell of row; index as j;" id="cell-{{i}}-{{j}}"
                                class="w-min text-center border-2 border-black" (click)="placeShip(i,j)">
                                <div *ngIf="cell == '-1'; then thenBlock else elseBlock"></div>
                                <ng-template #thenBlock>🌊</ng-template>
                                <ng-template
                                    #elseBlock>{{this.game.symbols[this.game.getShipById(cell).id]}}</ng-template>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <app-chat [messages]="this.messages" (sendMessageEvent)="sendMessage($event)" #chat></app-chat>
        </div>
    </div>
</body>