<div class="mx-2 space-x-4">
    <button class="text-sm bg-neutral-400 p-1 rounded-full bg-opacity-40" onclick="history.back()"><i
            class="bi bi-arrow-left"></i></button>
    <button class="float-right text-sm bg-neutral-400 p-1 rounded-full bg-opacity-40" (click)="this.showChat.emit()"> <i
            class="bi bi-chat"></i> </button>
    <button class="float-right text-sm bg-neutral-400 p-1 rounded-full bg-opacity-40" (click)="this.showInstructions.emit()"> <i
            class="bi bi-info"></i> </button>
</div>