<body class="text-sm md:text-basebg-fit bg-no-repeat h-full">
    <div class="container mx-auto h-full">
        <app-bg-audio-button></app-bg-audio-button>
        <div class="lg:grid lg:grid-cols-3 place-items-center h-full">
            <app-new-instructions [publicKey]="publicKey" #instructions></app-new-instructions>
            <div class="flex flex-col content-center pt-16 space-y-12 lg:h-screen z-10" (swipeleft)="showChat()" (swiperight)="showInstructions()">
                <div>
                    <app-toolbar (showChat)="showChat()" (showInstructions)="showInstructions()"></app-toolbar>
                    <app-welcome></app-welcome>
                </div>
                <div>                    
                    <div *ngIf="!commited || this.game.opponentHash.length == 0" class="bg-amber-300 rounded">
                        <div>
                            <h2 class="text-md md:text-xl text-center py-2">
                                {{stateShow}}
                            </h2>
                        </div>
                        <div *ngIf="this.oldMsg[0]=='WAITING_ON'" class="block text-xs md:text-base bg-blue-200 rounded p-3">
                            <span (click)=copyPubKey() class="cursor-pointer" id="copy">
                                <i class="bi bi-clipboard"></i>
                            </span>
                            <span class="text-sm"> {{this.publicKey.substring(0,45)}}...</span>
                        </div>
                        <div *ngIf="stateShow == 'Please set your ships'" class="flex text-sm bg-blue-200 rounded p-3">
                            <table class="border-2 w-full" *ngIf="availableShips.size>0">
                                <tr *ngFor="let ship of availableShips; index as i;" class="border-2 text-4xl"
                                    id="ship-{{i}}">
                                    <td>{{this.game.symbols[ship.id]}}</td>
                                    <td>{{emojiTable[ship["n"]]}}✖️{{emojiTable[ship["m"]]}}🔲</td>
                                    <td><button (click)='selectShip(ship["id"])'
                                            class="bg-lime-400 rounded py-2 px-3 text-2xl" type="button">Place</button>
                                    </td>
                                </tr>
                            </table>
                            <div *ngIf="availableShips.size==0" class="flex flex-row justify-center space-x-16 w-full">
                                <button class="bg-red-400 rounded py-2 px-3 text-2xl"
                                    (click)="clearMap()">Clear</button>
                                <button class="bg-lime-400 rounded py-2 px-3 text-2xl"
                                    (click)="commitMap()">Commit</button>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div *ngIf="commited && this.game.opponentHash.length >0" class="text-center bg-blue-800 rounded p-2">
                        <div *ngIf="this.game.result" class="text-md md:text-xl text-center py-2 bg-amber-300 rounded">
                            🛡 You Won! 🛡
                        </div>
                        <div *ngIf="this.game.turn > 1 && !this.game.result" class="text-md md:text-xl text-center py-2 bg-violet-500 rounded">
                            😔 You Lost! 😔
                        </div>
                        <h3 class="text-xl mb-2">Enemy Map</h3>
                        <table class="border-2 w-full cursor-crosshair">
                            <tr *ngFor="let row of this.game.stateArray; index as i;"
                                class="border-2 border-black rounded-lg">
                                <td class="stack" *ngFor="let cell of row; index as j;" id="opponent-cell-{{i}}-{{j}}"
                                    class="w-min text-center border-2 border-black" (click)="bomb(i,j)">
                                    <div *ngIf="this.game.isVisited(i,j); then visited else unvisited"></div>
                                    <ng-template #visited>
                                    <span *ngIf="this.game.isHit(i,j)">💥</span>
                                    <span *ngIf="this.game.isMiss(i,j)">✖️</span>
                                    </ng-template>
                                    <ng-template #unvisited>🌊</ng-template>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="text-center bg-blue-800 rounded p-2 w-full mx-auto" id="your-map">
                    <h3 class="text-xl mb-2">Your Map</h3>
                    <table class="border-2 w-full">
                        <tr *ngFor="let row of this.game.stateArray; index as i;"
                            class="border-2 border-black rounded-lg">
                            <td *ngFor="let cell of row; index as j;" id="cell-{{i}}-{{j}}"
                                class="w-min text-center border-2 border-black" (click)="placeShip(i,j)">
                                <div class="stack" *ngIf="cell == '-1'; then thenBlock else elseBlock"></div>
                                <ng-template #thenBlock>🌊</ng-template>
                                <ng-template #elseBlock>{{this.game.symbols[this.game.getShipById(cell).id]}}</ng-template>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <app-chat [messages]="this.messages" [hidden]="true" (sendMessageEvent)="sendMessage($event)" #chat></app-chat>

        </div>
    </div>
</body>