<div class="lg:flex flex-col content-center lg:pt-44 pt-8 h-screen animate__animated animate__faster" (swiperight)="hide()" id="chat-root" #chatRoot>
    <div class="text-3xl text-center bg-amber-300 mt-1 rounded-t px-36 py-2">Chat</div>
    <div class="flex flex-col place-content-between  h-1/4 lg:h-3/4 bg-white bg-opacity-70 hover:bg-opacity-100 rounded-b lg:pt-2">

        <div class="px-2 flex flex-col overflow-y-scroll pb-2" id="messages-box">
            <div id="hide-button" class="hidden invisible lg:visible lg:block lg:fixed mt-32 opacity-40 z-10 h-10 w-10 bg-amber-100 bg-opacity-40 rounded-full text-center text-xl" (click)="hide()"> <i class="relative top-1 bi bi-arrow-bar-left"></i> </div>

            <div *ngFor="let msg of showMessages; index as i; last as isLast;" class="w-full flex hover:bg-amber-100 p-1 z-0" id="msg-{{i}}">
                <div class="text-blue-400">{{msg.sender.charAt(0).toUpperCase()}}{{msg.sender.slice(1)}}:</div>
                <div class="ps-1 w-80"> <p class="max-w-full break-words">{{msg.text}}</p> </div>
                <div class="self-end w-full text-end text-xs">{{msg.time.getHours()}}::{{msg.time.getMinutes()}}::{{msg.time.getSeconds()}}</div>
            </div>
        </div>

        <div class="flex p-1 w-full rounded-b space-x-2">
            <input [formControl]="inputMessage" class="border-2 w-full rounded" type="text" #message id="input-message"/>
            <button class="bg-red-400 rounded py-2 px-3 text-xl" type="button" (click)="sendMessage(message.value)">Send</button>
        </div>
    </div>

</div>