<body class="bg-fit bg-no-repeat">
    <div class="container mx-auto">
        <app-bg-audio-button></app-bg-audio-button>
        <div class="grid lg:grid-cols-3 gap-4 place-items-center">
            <div></div>
            <div class="flex flex-col content-center justify-center h-screen space-y-32">
                <app-welcome></app-welcome>
                
                <div class="flex flex-col content-center justify-center space-y-5 text-xl md:text-3xl">
                    <a routerLink="/new-game" class="text-center bg-green-500 rounded-full py-1 w-full">New Game</a>
                    <a routerLink="/join-game" class="text-center bg-indigo-500 rounded-full py-1 w-full">Join Game</a>
                </div>

            </div>
        <div>
            
        </div>
        </div>
    </div>
</body>