@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~animate.css/animate.min';
body{
    background-image: url('/assets/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
